:root {
  --primary-400: hsl(158, 36%, 37%);
  --primary-100: hsl(30, 38%, 92%);
  
  --neutral-600: hsl(212, 21%, 14%);
  --neutral-400: hsl(228, 12%, 48%);
  --neutral-100: hsl(0, 0%, 100%);

  --ff-regular: 'Montserrat';
  --ff-sub: 'Fraunces';

  --fw-bold: 700;
  --fw-regular: 500;

}


*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }



/* General Styling */




body {
  background-color: var(--primary-100);
}

.textContainer {
  font-family: var(--ff-regular);
  font-weight: var(--fw-regular);
  font-size: .875rem;
  background-color: var(--neutral-100);
  border-end-start-radius: .5rem;
  border-end-end-radius: .5rem;;
}

.itemName {
  color: var(--neutral-400);
  text-transform: uppercase;
  letter-spacing: .25rem;
  font-size: .875rem;
}

.title {
  color: var(--neutral-600);
  font-size: 2rem;
  line-height: 1.7rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff-sub);
}

.subText {
  color: var(--neutral-400);
  font-size: .875rem;
}

.salePrice {
  color: var(--primary-400);
  font-weight: var(--fw-bold);
  font-family: var(--ff-sub);
  font-size: 1.75rem;
}

.oldPrice {
  color: var(--neutral-400);
}

button {
  background-color: var(--primary-400);
  color: var(--neutral-100);
  font-weight: var(--fw-bold);
  border: none;
  border-radius: .5rem;
}



  
/* layout styling */




html {
  height: 100%;
}

body {
  height: 100%;
  display: grid;
  place-items: center;
}


.card {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.imageHeader {
  height: 100%;
}

.imageHeader img {
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  height: 100%;
}

@media screen and (min-width: 600px) {
  .imageHeader img {
    border-top-right-radius: 0rem;
    border-bottom-left-radius: .5rem;
  }
}

picture {
  height: 100%;
}


.textContainer {
  padding: 1.5rem;
  display: grid;
}


@media screen and (min-width: 600px) {
  .textContainer {
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    padding: 2rem;
    height: 100%;
  }
}

.itemName {
  padding-bottom: .75rem;
}

.title {
  padding-bottom: 1rem;
}

.subText {
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.prices {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding-bottom: .75rem;
}

@media screen and (min-width: 600px) {
  .prices {
    padding-bottom: 1.25rem;
  }
}

.prices span {
  position: absolute;
}

button {
  display: flex;
  justify-content: center;
  gap: .75rem;
  padding-block: .75rem;
}
  






.attribution 
    { font-size: 11px; text-align: center; }

.attribution a 
    { color: hsl(228, 45%, 44%); }